Repository opsmill/infrahub-sdk-python, pull requests merged in 2024-12, with the labels that each got.

#71 Add Python 3.13
  .github/workflows/ci.yml
  changelog/+76f7bfd7.added.md
  poetry.lock
  pyproject.toml
Labels: group/ci

#164 dependabot update
  .github/workflows/trigger.yml
  .yamllint.yml
Labels: group/ci, type/housekeeping

#165 New release CICD
  .github/workflows/ci.yml
  .github/workflows/publish-pypi.yml
  .github/workflows/release.yml
  .github/workflows/trigger.yml
  .github/workflows/update-submodule.yml
Labels: group/ci, type/housekeeping, ci/skip-changelog

#177 Fix issue with menu load due to missing direction
  changelog/+3bf1c5c.fixed.md
  infrahub_sdk/schema.py
  infrahub_sdk/spec/object.py
Labels: type/bug

#179 Merge develop into stable ahead of 1.2.0 release
  .github/workflows/ci.yml
  .github/workflows/publish-pypi.yml
  .github/workflows/release.yml
  .github/workflows/update-submodule.yml
  .yamllint.yml
  CHANGELOG.md
  infrahub_sdk/batch.py
  infrahub_sdk/client.py
  infrahub_sdk/ctl/repository.py
  infrahub_sdk/ctl/schema.py
  infrahub_sdk/schema.py
  infrahub_sdk/spec/object.py
  poetry.lock
  pyproject.toml
  tests/unit/ctl/test_repository_app.py
  tests/unit/sdk/conftest.py
  tests/unit/sdk/test_batch.py
Labels: group/ci

#180 Fix release workflow to accept proper tag version
  .github/workflows/release.yml
Labels: group/ci

#195 Release SDK v1.3.0
  .github/workflows/ci.yml
  CHANGELOG.md
  infrahub_sdk/_importer.py
  infrahub_sdk/checks.py
  infrahub_sdk/client.py
  infrahub_sdk/code_generator.py
  infrahub_sdk/ctl/check.py
  infrahub_sdk/ctl/cli_commands.py
  infrahub_sdk/ctl/generator.py
  infrahub_sdk/ctl/render.py
  infrahub_sdk/ctl/repository.py
  infrahub_sdk/ctl/transform.py
  infrahub_sdk/ctl/utils.py
  infrahub_sdk/node.py
  infrahub_sdk/pytest_plugin/items/base.py
  infrahub_sdk/pytest_plugin/items/check.py
  infrahub_sdk/pytest_plugin/items/python_transform.py
  infrahub_sdk/pytest_plugin/utils.py
  infrahub_sdk/query_groups.py
  infrahub_sdk/schema/__init__.py
  infrahub_sdk/schema/main.py
  infrahub_sdk/schema/repository.py
  infrahub_sdk/spec/object.py
  infrahub_sdk/testing/__init__.py
  infrahub_sdk/testing/docker.py
  infrahub_sdk/testing/repository.py
  infrahub_sdk/testing/schemas/__init__.py
  infrahub_sdk/testing/schemas/car_person.py
  infrahub_sdk/transfer/exporter/json.py
  infrahub_sdk/transfer/schema_sorter.py
  infrahub_sdk/transforms.py
  poetry.lock
  pyproject.toml
  tests/integration/conftest.py
  tests/integration/test_node.py
  tests/integration/test_schema.py
  tests/unit/sdk/conftest.py
  tests/unit/sdk/test_node.py
  tests/unit/sdk/test_schema.py
Labels: group/ci
