Repository opsmill/infrahub-sdk-python, pull requests merged in 2024-11, with the labels that each got.

#118 Fix setting value of relationship of type pool
  changelog/27.fixed.md
  infrahub_sdk/node.py
  tests/unit/sdk/conftest.py
  tests/unit/sdk/test_node.py
Labels: type/bug

#137 Release v1.0.1
  CHANGELOG.md
  changelog/+479a6128.removed.md
  changelog/+89d1d0b7.deprecated.md
  changelog/133.fixed.md
  changelog/27.fixed.md
  changelog/81.fixed.md
  pyproject.toml
Labels: ci/skip-changelog

#139 Merge stable back into develop after 1.0.1 release
  CHANGELOG.md
  changelog/+479a6128.removed.md
  changelog/+89d1d0b7.deprecated.md
  changelog/27.fixed.md
  changelog/81.fixed.md
  infrahub_sdk/ctl/check.py
  infrahub_sdk/ctl/cli_commands.py
  infrahub_sdk/ctl/generator.py
  pyproject.toml
Labels: ci/skip-changelog

#144 Return a proper error message when executing `schema load` with the wrong credential
  changelog/127.fixed.md
  infrahub_sdk/schema.py
Labels: type/bug

#156 Merge develop into stable
  .github/workflows/ci.yml
  CHANGELOG.md
  changelog/+0e61a54f.added.md
  changelog/140.fixed.md
  infrahub_sdk/batch.py
  infrahub_sdk/branch.py
  infrahub_sdk/client.py
  infrahub_sdk/code_generator.py
  infrahub_sdk/config.py
  infrahub_sdk/ctl/cli_commands.py
  infrahub_sdk/ctl/generator.py
  infrahub_sdk/ctl/utils.py
  infrahub_sdk/exceptions.py
  infrahub_sdk/node.py
  infrahub_sdk/pytest_plugin/loader.py
  infrahub_sdk/schema.py
  infrahub_sdk/topological_sort.py
  infrahub_sdk/transfer/exporter/json.py
  infrahub_sdk/transfer/importer/json.py
  infrahub_sdk/transfer/schema_sorter.py
  pyproject.toml
  tests/helpers/utils.py
  tests/integration/conftest.py
  tests/integration/test_infrahub_client.py
  tests/integration/test_infrahub_client_sync.py
  tests/unit/sdk/conftest.py
  tests/unit/sdk/test_schema.py
Labels: group/ci
