Repository opsmill/infrahub-sdk-python, pull requests merged in 2024-09, with the labels that each got.

#41 Remove local validation of query filters when calling client.filters()
  changelog/10.fixed.md
  changelog/30.fixed.md
  changelog/9.changed.md
  infrahub_sdk/__init__.py
  infrahub_sdk/client.py
  infrahub_sdk/ctl/utils.py
  infrahub_sdk/exceptions.py
  infrahub_sdk/node.py
  infrahub_sdk/protocols_base.py
  tests/unit/sdk/test_client.py
Labels: type/feature

#42 Add parameter `raise_when_missing` on client.get to return None instead of raising an exception
  changelog/11.changed.md
  infrahub_sdk/client.py
  tests/unit/sdk/conftest.py
  tests/unit/sdk/test_client.py
Labels: type/feature

#44 Update GHA to publish release to pypi
  .github/workflows/publish-python-sdk.yml
  .gitignore
  CHANGELOG.md
  poetry.lock
  pyproject.toml
Labels: group/ci

#47 Fix `execute_graphql` method not respecting clien's `default_branch` property
  changelog/46.fixed.md
  infrahub_sdk/client.py
  tests/unit/sdk/conftest.py
  tests/unit/sdk/test_client.py
Labels: group/python-sdk
