Repository opsmill/infrahub-sdk-python, pull requests merged in 2025-03, with the labels that each got.

#288 Raise URLNotFoundError instead of infinite retry
  docs/docs/python-sdk/reference/config.mdx
  infrahub_sdk/client.py
  infrahub_sdk/config.py
  infrahub_sdk/exceptions.py
  tasks.py
  tests/integration/test_infrahub_client.py
Labels: type/documentation

#300 docs fixes
  .github/workflows/sync-docs.yml
  docs/docs/python-sdk/introduction.mdx
  docs/package-lock.json
  docs/package.json
Labels: group/ci, type/documentation

#305 Upgrade ruff=0.11.0
  .github/workflows/ci.yml
  poetry.lock
  pyproject.toml
  tests/integration/test_infrahub_client.py
Labels: group/ci

#308 Release 1.8.0
  .github/workflows/ci.yml
  CHANGELOG.md
  infrahub_sdk/client.py
  infrahub_sdk/context.py
  infrahub_sdk/ctl/branch.py
  infrahub_sdk/ctl/utils.py
  infrahub_sdk/exceptions.py
  infrahub_sdk/generator.py
  infrahub_sdk/graphql.py
  infrahub_sdk/node.py
  infrahub_sdk/protocols.py
  infrahub_sdk/protocols_base.py
  infrahub_sdk/schema/__init__.py
  infrahub_sdk/schema/main.py
  infrahub_sdk/task/__init__.py
  infrahub_sdk/task/constants.py
  infrahub_sdk/task/exceptions.py
  infrahub_sdk/task/manager.py
  infrahub_sdk/task/models.py
  infrahub_sdk/timestamp.py
  infrahub_sdk/utils.py
  poetry.lock
  pyproject.toml
  tests/fixtures/tasks/mock_query_tasks_01_page1.json
  tests/fixtures/tasks/mock_query_tasks_01_page2.json
  tests/fixtures/tasks/mock_query_tasks_02_page1.json
  tests/fixtures/tasks/mock_query_tasks_03_page1.json
  tests/fixtures/tasks/mock_query_tasks_04_page1.json
  tests/fixtures/tasks/mock_query_tasks_04_page2.json
  tests/fixtures/tasks/mock_query_tasks_04_page3.json
  tests/fixtures/tasks/mock_query_tasks_05_page1.json
  tests/fixtures/tasks/mock_query_tasks_empty.json
  tests/integration/test_infrahub_client.py
  tests/unit/sdk/conftest.py
  tests/unit/sdk/test_client.py
  tests/unit/sdk/test_graphql.py
  tests/unit/sdk/test_task.py
  tests/unit/sdk/test_timestamp.py
  tests/unit/sdk/test_utils.py
Labels: group/ci

#307 Update discovering available filters section in data query guide
  docs/docs/python-sdk/guides/query_data.mdx
Labels: type/documentation

#309 Merge stable into develop (1.8.0)
  .github/workflows/ci.yml
  .github/workflows/sync-docs.yml
  CHANGELOG.md
  docs/docs/python-sdk/guides/query_data.mdx
  docs/docs/python-sdk/introduction.mdx
  docs/package-lock.json
  docs/package.json
  infrahub_sdk/client.py
  infrahub_sdk/context.py
  infrahub_sdk/ctl/branch.py
  infrahub_sdk/ctl/utils.py
  infrahub_sdk/exceptions.py
  infrahub_sdk/generator.py
  infrahub_sdk/graphql.py
  infrahub_sdk/node.py
  infrahub_sdk/protocols.py
  infrahub_sdk/protocols_base.py
  infrahub_sdk/schema/__init__.py
  infrahub_sdk/schema/main.py
  infrahub_sdk/task/__init__.py
  infrahub_sdk/task/constants.py
  infrahub_sdk/task/exceptions.py
  infrahub_sdk/task/manager.py
  infrahub_sdk/task/models.py
  infrahub_sdk/timestamp.py
  infrahub_sdk/utils.py
  poetry.lock
  pyproject.toml
  tests/fixtures/tasks/mock_query_tasks_01_page1.json
  tests/fixtures/tasks/mock_query_tasks_01_page2.json
  tests/fixtures/tasks/mock_query_tasks_02_page1.json
  tests/fixtures/tasks/mock_query_tasks_03_page1.json
  tests/fixtures/tasks/mock_query_tasks_04_page1.json
  tests/fixtures/tasks/mock_query_tasks_04_page2.json
  tests/fixtures/tasks/mock_query_tasks_04_page3.json
  tests/fixtures/tasks/mock_query_tasks_05_page1.json
  tests/fixtures/tasks/mock_query_tasks_empty.json
  tests/integration/test_infrahub_client.py
  tests/unit/sdk/conftest.py
  tests/unit/sdk/test_client.py
  tests/unit/sdk/test_graphql.py
  tests/unit/sdk/test_task.py
  tests/unit/sdk/test_timestamp.py
  tests/unit/sdk/test_utils.py
Labels: group/ci, type/documentation

#311 Clarify the relationship fetch method in the documentation
  docs/docs/python-sdk/guides/query_data.mdx
Labels: type/documentation

#315 Release 1.9.0
  CHANGELOG.md
  docs/docs/python-sdk/guides/store.mdx
  infrahub_sdk/client.py
  infrahub_sdk/query_groups.py
  infrahub_sdk/schema/__init__.py
  infrahub_sdk/schema/main.py
  pyproject.toml
  tests/fixtures/schema_01.json
  tests/unit/sdk/test_client.py
  tests/unit/sdk/test_schema.py
Labels: type/documentation

#320 add blog link
  docs/docs/python-sdk/introduction.mdx
Labels: type/documentation
