Repository opsmill/infrahub-sdk-python, pull requests merged in 2025-05, with the labels that each got.

#393 ci: trigger repository-dispatch after publishing package to pypi
  .github/workflows/release.yml
Labels: group/ci, ci/skip-changelog

#395 ci: add INFRAHUB_CUSTOMER2_REPOSITORY to repository-dispatcher
  .github/workflows/repository-dispatch.yml
Labels: group/ci, ci/skip-changelog

#401 Adjust trigger doc sync
  .github/workflows/sync-docs.yml
Labels: group/ci

#407 pin Click to v8.1.*
  changelog/406.changed.md
  poetry.lock
  pyproject.toml
Labels: type/bug

#404 Rework SDK client store guide
  docs/docs/python-sdk/guides/store.mdx
Labels: type/documentation, ci/skip-changelog

#411 Add partial_match to the client.count()
  infrahub_sdk/client.py
Labels: type/bug

#419 Trigger markdown lint on github action updates & fix rules
  .github/workflows/ci.yml
  .markdownlint.yaml
Labels: group/ci

#399 added blog post
  docs/docs/python-sdk/introduction.mdx
Labels: type/documentation
