Repository opsmill/infrahub-sdk-python, pull requests merged in 2025-04, with the labels that each got.

#332 Fixes process nodes for relation `None`
  changelog/331.fixed.md
  infrahub_sdk/node.py
Labels: type/housekeeping

#334 Fix sentence case
  docs/docs/python-sdk/introduction.mdx
Labels: type/documentation

#327 Refactor handling of Jinja2 templates and add filters
  .vale/styles/spelling-exceptions.txt
  changelog/+5660f1dc.added.md
  docs/_templates/sdk_template_reference.j2
  docs/docs/python-sdk/reference/templating.mdx
  docs/sidebars-python-sdk.ts
  infrahub_sdk/ctl/cli_commands.py
  infrahub_sdk/ctl/render.py
  infrahub_sdk/pytest_plugin/items/jinja2_transform.py
  infrahub_sdk/template/__init__.py
  infrahub_sdk/template/exceptions.py
  infrahub_sdk/template/filters.py
  infrahub_sdk/template/models.py
  poetry.lock
  pyproject.toml
  tasks.py
  tests/fixtures/repos/missing_template_file/.infrahub.yml
  tests/fixtures/repos/missing_template_file/tags_query.gql
  tests/fixtures/repos/missing_template_file/templates/syntax-error.html
  tests/fixtures/repos/missing_template_file/templates/undefined.j2
  tests/fixtures/repos/missing_template_file/templates/wrong-filter.j2
  tests/fixtures/unit/test_infrahubctl/red_tags_query/red_tag.json
  tests/helpers/utils.py
  tests/unit/ctl/test_render_app.py
  tests/unit/sdk/test_data/templates/broken_on_line6.j2
  tests/unit/sdk/test_data/templates/hello-world.j2
  tests/unit/sdk/test_data/templates/imports-missing-file.html
  tests/unit/sdk/test_data/templates/index.html
  tests/unit/sdk/test_data/templates/ip_report.j2
  tests/unit/sdk/test_data/templates/main.j2
  tests/unit/sdk/test_data/templates/report.html
  tests/unit/sdk/test_template.py
Labels: type/documentation

#335 Release 1.10.0
  .vale/styles/spelling-exceptions.txt
  CHANGELOG.md
  changelog/331.fixed.md
  docs/_templates/sdk_template_reference.j2
  docs/docs/python-sdk/introduction.mdx
  docs/docs/python-sdk/reference/templating.mdx
  docs/sidebars-python-sdk.ts
  infrahub_sdk/client.py
  infrahub_sdk/ctl/cli_commands.py
  infrahub_sdk/ctl/render.py
  infrahub_sdk/exceptions.py
  infrahub_sdk/generator.py
  infrahub_sdk/node.py
  infrahub_sdk/protocols_base.py
  infrahub_sdk/pytest_plugin/items/jinja2_transform.py
  infrahub_sdk/store.py
  infrahub_sdk/template/__init__.py
  infrahub_sdk/template/exceptions.py
  infrahub_sdk/template/filters.py
  infrahub_sdk/template/models.py
  infrahub_sdk/utils.py
  poetry.lock
  pyproject.toml
  tasks.py
  tests/fixtures/repos/missing_template_file/.infrahub.yml
  tests/fixtures/repos/missing_template_file/tags_query.gql
  tests/fixtures/repos/missing_template_file/templates/syntax-error.html
  tests/fixtures/repos/missing_template_file/templates/undefined.j2
  tests/fixtures/repos/missing_template_file/templates/wrong-filter.j2
  tests/fixtures/unit/test_infrahubctl/red_tags_query/red_tag.json
  tests/helpers/utils.py
  tests/unit/ctl/test_render_app.py
  tests/unit/sdk/test_client.py
  tests/unit/sdk/test_data/templates/broken_on_line6.j2
  tests/unit/sdk/test_data/templates/hello-world.j2
  tests/unit/sdk/test_data/templates/imports-missing-file.html
  tests/unit/sdk/test_data/templates/index.html
  tests/unit/sdk/test_data/templates/ip_report.j2
  tests/unit/sdk/test_data/templates/main.j2
  tests/unit/sdk/test_data/templates/report.html
  tests/unit/sdk/test_node.py
  tests/unit/sdk/test_store.py
  tests/unit/sdk/test_store_branch.py
  tests/unit/sdk/test_template.py
  tests/unit/sdk/test_utils.py
Labels: type/documentation

#358 Update vulnerable npm packages for documentation site
  docs/package-lock.json
Labels: type/documentation

#328 Add `infrahubctl object` command
  .github/workflows/ci.yml
  .gitignore
  .yamllint.yml
  docs/docs/infrahubctl/infrahubctl-object.mdx
  docs/docs/python-sdk/topics/object_file.mdx
  docs/sidebars-python-sdk.ts
  infrahub_sdk/ctl/cli_commands.py
  infrahub_sdk/ctl/menu.py
  infrahub_sdk/ctl/object.py
  infrahub_sdk/ctl/utils.py
  infrahub_sdk/exceptions.py
  infrahub_sdk/schema/main.py
  infrahub_sdk/spec/object.py
  infrahub_sdk/testing/schemas/animal.py
  infrahub_sdk/yaml.py
  poetry.lock
  pyproject.toml
  tasks.py
  tests/fixtures/spec_objects/animal_dog01.yml
  tests/fixtures/spec_objects/animal_person01.yml
  tests/fixtures/spec_objects/animal_person02.yml
  tests/fixtures/spec_objects/animal_tags01.yml
  tests/fixtures/spec_objects/animal_tags02.yml
  tests/integration/test_spec_object.py
  tests/unit/ctl/test_cli.py
  tests/unit/ctl/test_schema_app.py
  tests/unit/ctl/test_validate_app.py
  tests/unit/sdk/checks/test_checks.py
  tests/unit/sdk/conftest.py
  tests/unit/sdk/spec/test_object.py
  tests/unit/sdk/test_client.py
  tests/unit/sdk/test_data/multiple_files_valid.yml
  tests/unit/sdk/test_data/multiple_files_valid_not_valid.yml
  tests/unit/sdk/test_data/single_file.yml
  tests/unit/sdk/test_yaml.py
Labels: group/ci, type/documentation

#344 fix(testing): remove version fixture
  .github/workflows/ci.yml
  infrahub_sdk/testing/docker.py
  poetry.lock
  pyproject.toml
Labels: group/ci

#362 Add known issue for jinja filter
  docs/_templates/sdk_template_reference.j2
  docs/docs/python-sdk/reference/templating.mdx
Labels: type/documentation

#364 docs: fix create update delete nodes guide
  docs/docs/python-sdk/guides/create_update_delete.mdx
Labels: type/documentation

#363 Add `menu validate` command to validate the format of menu files.
  .yamllint.yml
  changelog/+menu-validate.added.md
  docs/docs/infrahubctl/infrahubctl-menu.mdx
  infrahub_sdk/ctl/menu.py
  infrahub_sdk/spec/menu.py
  infrahub_sdk/spec/object.py
  tests/fixtures/menus/invalid_menu.yml
  tests/fixtures/menus/invalid_yaml.yml
  tests/fixtures/menus/valid_menu.yml
  tests/fixtures/spec_objects/animal_menu01.yml
  tests/integration/test_spec_object.py
  tests/unit/ctl/conftest.py
  tests/unit/ctl/test_menu_app.py
Labels: type/documentation

#381 add repository dispatch workflow triggering updates in other repos
  .github/workflows/release.yml
  .github/workflows/repository-dispatch.yml
Labels: group/ci

#385 Fix object load command to from infrahub -> infrahubctl in topics/object_file.mdx
  docs/docs/python-sdk/topics/object_file.mdx
Labels: type/documentation

#387 Resolve Develop Merge Conflicts with Stable
  docs/docs/python-sdk/topics/object_file.mdx
Labels: type/documentation
